@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: Roboto, sans-serif;
}

body {
    margin: 0; /* Removes margin around the page */
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}

.dark-blue-section {
    display: flex;
    flex-direction: column; /* Header and hero as columns */
    align-items: center; /* Centralise header & hero */
    background: #1F2937;
    
}

.header {
    display: flex;
    justify-content: space-between; /* Logo -> left, menu -> right */
    align-items: baseline; /* Align logo & menu vertically */
    width: 75%; /* Header is only 75% of the whole page horizontally */
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.header ul {
    display: flex; /* Set menu items horizontally */
    gap: 30px; /* Gap between menu items */
    list-style-type: none; /* Remove bullets */
    padding: 0;
    margin: 0;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
    width: 75%; /* Hero is only 75% of the whole page horizontally */
    min-height: 500px;
    align-items: center; /* Centralize hero-left and hero-right vertically */
    justify-content: center; /* Centralize hero-left and hero-right horizontally */
    flex-wrap: wrap; /* Wrap hero-left and hero-right in smaller screens */
    font-size: 18px;
    color: #E5E7EB;
}

.hero-left {
    padding: 15px; /* Space between text and placeholder image */
    flex: 1;
}

button {
    display: block; /* Locates the button under hero-left */
    padding: 8px 32px;
    margin-top: 20px;
    border-radius: 8px;
    background: #3882F6;
    border: 1px solid #3882F6;
    color: white;
    font-weight: bold;
    font-size: 18px;
  }

.hero-right {
    padding: 15px;
    flex: 1;
}










.information {    
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    background: #FFF;
  }

  .information-header {
    margin-top: 50px;
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
}

.card-container {
    width: 50%;
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
}

.card .card-image {
    border: solid 3px #3882f6;
    width: 170px;
    height: 170px;
    border-radius: 16px;
    margin: 0 10px 0 10px;    
}

.card .card-text {
    width: 70%;
    margin: 10px;
}

.quote { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    min-height: 500px;
    background: #E5E7EB;
  }

  .quote-text {
      width: 50%;
      font-size: 36px;
      font-style: italic;
      font-weight: 300;
      color: #1F2937;
  }

  .quote-author {
    width: 50%;
    flex-direction: row-reverse;
    text-align: end;
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
  }